<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/main.css">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Resume</title>
    </head>
    <body>
        <script defer src="JSmain.js"></script>
        <header>
            <div id="NavigationBar">
                <h1 id="Name"><a href="main.html">Chase Crawford</a></h1>
                <nav id="NavItems">
                    <a id="AboutMeAnchor" href="main.html#CitySkyline">About Me</a>
                    <a id="PortfolioAnchor" href="ProjectsAndPortfolio.html">Projects</a>
                    <a id="ResumeAnchor" href="Resume.html">Resume</a>
                    <a id="ContactAnchor" href="main.html">Contact Me</a>
                </nav>
            </div>
        </header>
        <main>

        </main>
    </body>
</html>